<div class="heading-label row">
  <!--<span class="fa fa-comments-o charClear"></span>-->
  <div class="chatName">Chat with FI$Bot
    <a class="clear" title="FSC Message" style="margin-bottom:15px;float: right;" (click)="processThumbsDown();">
      <img src="../../assets/images/Phone%20Icon%20White.png"/>
    </a>
    <a class="info" title="Job Aids" href="https://fiscal.ca.gov/user-support/job-aids/" target="_blank">
      <img src="../../assets/images/Job%20Aids%20Icon%20White.png"/>
    </a>


    <a class="clear" title="Clear Chat" (click)="clearResponses()"><img src="../../assets/images/Clear%20Icon%20White.png"/></a>
  </div>
</div>
