/** ************ heading moved ************** */
.heading-label {
  width: 400px;
  height:40px;
  border: 1px solid black;
  padding-top: .5%;
  background-color:#3072AC;
  color:white;
}

.heading-label a:hover {
  color: #ffde7c;
  text-decoration: none;
}

.chatClear{
  /*color: white;
  !*margin-left:15px;*!
  float:left;
  font-size: 25px;*/
}
.chatName{
  font-weight: bold;
  width: 400px;
  float: left;

}
.chatInfo{
  color: white;
  font-size:18px;
  float:right;
  /*padding-right: 10px;*/
}
* {
  margin: 0;
  /*padding: 2px;*/
  box-sizing: border-box;
}
.row{
  margin-top: 5px;
}
.clear{
  padding: 2px;
  width:40px;
  float:left;
  text-align: center;
  cursor:pointer;
  font-size:12px;
  /*background:#0d71bb;*/
  border-radius: 5px;
  color: white;
}
.contact-us{
  /*margin-bottom:15px;*/
  float:right;
  width:100px;
}
.info{
  width: 30px;
  float:right;
}

