<div class="heading-label row">
  <!--<span class="fa fa-comments-o charClear"></span>-->
  <div class="chatName">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FI$Bot
    <a class="clear" style="width:15px;font-weight: bolder;font-style: italic;" title="Job Aids" href="https://fiscal.ca.gov/user-support/job-aids/" target="_blank">i</a>

    <a class="clear" title="Thumbs Down" style="margin-bottom:15px;float: right;" (click)="processThumbsDown();"><img src="../../assets/images/thumbs-down.png"/></a>
    <a class="clear" title="Clear Chat" (click)="clearResponses()">Clear</a>
  </div>
</div>
