<div class="heading-label row">
  <!--<span class="fa fa-comments-o charClear"></span>-->
  <div class="chatName">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chat with FI$Bot
    <a class="clear contact-us" title="Contact Us" (click)="processThumbsDown();">
      <img src="../../assets/images/Contact%20Us%20small%20caps%20white.png"/>
    </a>
    <a class="clear" title="Clear Chat" (click)="clearResponses()"><img src="../../assets/images/Clear%20Icon%20White.png"/></a>
  </div>
</div>
