<div class="chat" class="chatbotResponse" id="chatbotResponse">
 <!-- <div class="row" class="clear" (click)="clearResponses()">Clear</div>-->
  <div class="row">
    <img src="../../assets/images/chatbot-final.png" alt="FI$Bot" width="30" height="30" title="FI$bot">&nbsp;
    <div class="response left" width="350px">How can I help you?</div>
  </div>
  <ul>
    <li *ngFor="let exchange of conversation.exchanges">
      <div class="row">
        <img src="/src/assets/images/chatbot_user.png" width="30" height="30" title="You">&nbsp;
        <span class="user-question left">{{ exchange.message }}</span>
       </div>
      <div class="row" >
        <img src="/src/assets/images/chatbot-final.png" alt="FI$Bot" width="30" height="30" title="FI$bot">&nbsp;
        <div class="response left" width="300px" [innerHTML]="exchange.response"></div>
      </div>
    </li>
   </ul>
</div>
